<!DOCTYPE html>
<html>

<head>
    <meta name="desription" content="portfolio website">
    <meta name="robot" content="nofollow" />
    <meta http-equiv="author" content="mudasir" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="style.css" type="text/css" rel="stylesheet" />
    <script src="script.js" defer> </script>
    <div class="top">
        <title id="name"> mudaas_irl 👑🔥</title>
        <h3> @mudaas_irl <br> meet the newest designers in the town!!!! </h3>

    </div>
</head>

<body>




    <div class="navbar">
        <nav>
            <a href=""> Home</a>
            <a href=""> Journeys</a>
            <a href=""> Projects</a>
            <a href=""> About</a>
        </nav>
    </div>

    <div class="block">
        <p id="one">
            hello mates!! i am making this webite just to revie my html and
            and css skill and also note that this is a porrtfolio webite
            so many thingss are exxagerated!! 😂..First let's start with some info
            about me --> i am currently an undergraduate at nawab shah college 😢
            in 4<sup>th</sup> semester and learned quite some languages like C,C++,HTML,css
            my current goal is to make a webapp/android app really quick 💀.
            which i will be bulding using javascript/Flutter so.....wish me luck
            (PS: I know html/css isnt a programming language 😂)
            <br>
            my language skillset
        </p>
        <div id="lang">
            <ul>
                <li>C/C++</li>
                <li>HTML/CSS</li>
                <li>javascript</li>
                <li>java ☕</li>
                <li>Python 🐍</li>
            </ul>
        </div>



        <p id="one">Gallery </p>
        <figure><img src="" alt="mudasir" class="wc" />
            <figcaption>Me winning t20 world cup circa 2022 ☝</figcaption>
        </figure>
    </div>

    <div class="both">

        <div id="side">
            <h3>my favourite songs</h3>
            <ul id="songs">
                <li> Man amadeam </li>
                <li> kana yaari</li>
                <li> pasoori</li>
                <li> DGKBH</li>
                <li> Mere humsafar </li>
                <li> Close Eyes </li>
                <li> Lawng Gawacha </li>
                <li> kkzpnd </li>
            </ul>
        </div>

        <div id="side2">
            <h3>IV sem syllabus </h3>
            <ul id="subjects">
                <li> Sigals and systems </li>
                <li> Java </li>
                <li class="current"> DBMS </li>
                <li> COMP </li>
                <li> DC </li>
                <li> Operation research </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <a class="button" id="gmail" href=""> </a>
        <a class="button" id="insta" href="https://www.instagram.com/mudaas_irl/"> </a>
        <a class="button" id="twitter" href="https://twitter.com/mudaas_irl"> </a>
        <a target="_blank" href="https://icons8.com/icon/13963/twitter">Twitter</a> icon by <a target="_blank"
            href="https://icons8.com">Icons8</a>
    </div>
</body>

</html>